/node_modules
/public/css
/public/js
/public/img
/public/cached_images
/public/mix-manifest.json
/public/storage
/public/static
/public/vendor/statamic
/storage/*.key
/storage/glide
/vendor
/users
.env
.env.backup
.phpunit.result.cache
.idea
.DS_Store
.docker-sync
npm-debug.log
yarn-error.log
